html {
    width: auto;
    height: fit-content;
    font-size: 18px;
}
body {
    background-color: #fff6dc;
    margin: auto;
}
h1, h2, h3, p, a {
    color: #685f74;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav li {
    display: inline-flex;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
}

.banner {
    width: 100%;
    height: 30.55rem;
    display: flex;
    background-image: url(images/banner_background_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center;
    text-align: center;
    
}
.banner h1 {
    font-size: 2.22rem;
    color: #291c47;    
}

.about {
    height: fit-content;
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #291c47;
}

.about-title {
    text-align: center;
    width: 22.22rem;
    margin-left: 5rem;
    margin-right: 5rem;
    
}

.about-title p {
    text-align: justify;
}

.about-img {
    width: 22.22rem;
    height: 38.88rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 5rem;
    margin-right: 5rem;
}
.about-img img {
    max-width: 100%;  
}

@media only screen and (max-width: 900px) {
    .about {
        display: block;
    }

    .about-title {
        display: block;
        margin: auto;
        width: 90%;
        text-align: center;
        font-size: 0.8rem;
    }

    .about-img {
        width: 15rem;
        height: 24rem;
        display: block;
        margin: auto;
    }
    .projects {
        font-size: 0.8rem;
    }
}
    

.projects {
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;  
}


.projects-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0px;
}

.projects-img img {
    display: block;
    align-items: center;
    height:max-content;
    max-width: 100%;
    height: auto; 
}

.contact {
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    border-top: 1px solid #291c47;
    padding-top: 2rem;
}
.cf img{
    width: 10rem;
    height: 10rem;
}

